<h2>Celebrities</h2>
<br>

{{#each celebrities}}
<div>

<a href='celebrities/{{id}}'>
    <h2>{{name}}</h2>
</a>
    <form action="/celebrities/{{id}}/delete" method="POST">
        <button type="submit">Delete Celebrity</button>
    </form>

<hr>

</div>

{{/each}}

<a href="/celebrities/new">Add a Celebrity!</a>